html,
body {
  font-family: Poppins;
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
